<h1>Your movie wishlist</h1>
<p><%= link_to "Add a movie", wishes_new_path %></p>

<div class="wishes-index">
  <% @wishes.each do |wish| %>
    <div class="wishes-index__wish">
      <%= movie_poster_image(wish.movie.poster_path) %>
      <%= content_tag(:span, wish.movie.title) %>
    </div>
  <% end %>
</div>
