<div class="wrapper">
  <h1>🙌 Welcome to MovieNight!</h1>

  <p>MovieNight is an app for people that prefer watching movies than arguing on titles.</p>

  <p>Just create a personal movies watchlist (with movies that you want to watch - or re-watch!), so when you are with your friends or your partner, the app cross-compares the lists and tells you what film you both want to watch. Easy, no?</p>


  <% if user_signed_in? %>
    <p style="margin-top: 2em"><%= link_to "Add movies to your watchlist!", new_wish_path, class: "btn btn-primary btn-lg" %></p>
  <% else %>
    <p style="margin-top: 2em"><%= link_to "Register and add your movies", new_user_registration_path, class: "btn btn-primary" %></p>
    <p style="margin-top: 2em">Already registered?<br /><%= link_to "Login", new_user_session_path, class: "btn btn-primary" %></p>
  <% end %>
</div>
