<h1>Match your friend's movies!</h1>

<%= form_tag match_path, method: "get" do %>
  <% @friends.each do |friend| %>
    <p>
      <%= check_box_tag "profiles_ids[]", friend.id, false, id: "profile_#{friend.id}" %>
      <%= label_tag "profile_#{friend.id}", friend.full_name %>
    </p>
  <% end %>

  <%= submit_tag "See matching movies!", name: nil %>
<% end %>
