<h1>RemoteMovies#index</h1>
<p><%= link_to 'Go to your wishlist', wishes_path %></p>

<div class="movie-search-result">
  <% if params[:search].present? %>
    <% if @movies.any? %>
      <% @movies.each do |movie| %>
        <%= link_to(wishes_path(tmdb_code:   movie[:tmdb_code],
                                title:       movie[:title],
                                poster_path: movie[:poster_path]), method: :post) do %>

          <div class="movie-search-result__movie">
            <%= movie_poster_image(movie[:poster_path]) %>
            <%= content_tag(:span, "#{movie[:title]}") %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <h2>Sorry, no movies found.</h2>
    <% end %>

  <% else %>
    <h2>No keywords specified.</h2>
  <% end %>
</div>
