<% if params[:search].present? %>
  <h1>Search result</h1>
  <%= render partial: "wishes/form", locals: { search_term: params[:search] } %><br>
  <div class="movie-list">
    <% if @movies.any? %>
      <ul>
        <% @movies.each do |movie| %>
          <li class="movie">
            <%= movie_poster_image(movie[:poster_path]) %>
            <%= content_tag :span, "#{truncate(movie[:title], length: 50)}",
                            class: "movie__title" %>
            <%= button_to 'Add to wishlist',
                        wishes_path(tmdb_code: movie[:tmdb_code]),
                          method: :post, class: 'movie__add-button btn btn-primary' %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <h3>Sorry, no movies found.</h3>
    <% end %>
  </div>
<% else %>
  <h3>No keywords specified.</h3>
<% end %>
