<h1>RemoteMovies#index</h1>

<% if params[:search].present? %>
  <% if @movies.any? %>
    <% @movies.each do |movie| %>
      <%= link_to(wishes_path(tmdb_id: movie[:tmdb_id], title: movie[:title]), method: :post) do %>
        <div style="margin-bottom: 10px; border: 1px solid #eee; background: #f8f8f8;">
          <%= image_tag "http://image.tmdb.org/t/p/w185/#{movie[:poster_path]}", style: 'vertical-align: middle' %>
          <%= "#{movie[:tmdb_id]} - #{movie[:title]}" %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <h2>Sorry, no movies found.</h2>
  <% end %>

<% else %>
  <h2>No keywords specified.</h2>
<% end %>
