html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-size: $font-size-var;
  font-family: $font-family;
  margin: 0;
}

body {
  padding-top: rem(68px);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1, h2 {
  letter-spacing: -1px;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  width: 90%;
}

.header {
  background: $brand-color-var;
  padding: 20px 0;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.site-title {
  color: white;
  text-decoration: none;
  font-size: 20px;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.main-nav {
  float: right;
  & > ul {
    padding-left: 0;
    list-style: none;
    margin-top: 3px;
    & > li {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 20px;
      }
      & a {
        color: inherit;
        text-decoration: none;
        &:hover {
          color: #ddd;
        }
      }
    }
  }
  @include breakpoint-max($mobile){
    position: fixed;
    background: #244d5a;
    top: rem(68px);
    left: 0;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    &.is-hidden-mobile {
      display: none;
    }
    & > ul {
      margin-top: rem(20px);
      & > li {
        display: block;
        padding: rem(20px) rem(20px) 0;
      }
    }
  }
}

.mobile-menu-button {
  cursor: pointer;
  position: absolute;
  right: rem(20px);
  z-index: 999999;
  @include breakpoint-min($mobile+1) {
    display: none;
  }
}

.field_with_errors{
  display: inline;
  color: tomato;
}

div.flash {
  font-size: 0.9rem;
  padding: 1em;
  &.notice,
  &.alert {
    background: #f8ec89;
  }
  &.error {
    background: #f78181;
  }
}

form.button_to {
  display: inline-block;
}
