// general variables

$brand-color-var: #4569d8;
$font-size-var: 16px;
$font-family: 'lato', 'helvetica neue', arial, sans-serif;
$background-color: #F5F5F5;


// Breakpoint variables

$mobile-s: 320px;
$mobile: 375px;
$phablet: 414px;
$tablet: 600px;
$tablet-h: 1024px;
$desktop: 1200px;
$sd: 1400px;
$hd: 1920px;
