// general variables

$brand-color-var: #2f6879;
$font-size-var: 16px;
$font-family: 'source sans pro', 'helvetica neue', arial;

// bootstrap overrides

$brand-primary: $brand-color-var;
$text-color: #272727;
$headings-color: #384047;
$body-bg: #edeff0;
$state-success-text: #3c763d;
$state-success-bg: #f8eb96;

// Breakpoint variables

$mobile: 375px;
$phablet: 414px;
$tablet: 600px;
$tablet-h: 1024px;
$desktop: 1200px;
$sd: 1400px;
$hd: 1920px;
