.wishlist {
  > ul {
    padding-left: 0;
    list-style: none;
  }
  .wish {
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    &:not(:last-child) {
      border-bottom: none;
    }
    background: #fff;
    &__title {
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & > img {
      height: 70px;
      width: 47px;
      margin-right: rem(15px);
    }
    &__remove-button {
      margin-left: rem(10px);
      margin-right: rem(20px);
    }
  }
}

.movie-list {
  > ul {
    padding-left: 0;
    list-style: none;
  }
  .movie {
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    &:not(:last-child) {
      border-bottom: none;
    }
    background: #fff;
    &__title {
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & > img {
      height: 70px;
      width: 47px;
      margin-right: rem(15px);
    }
    &__add-button {
      margin-left: rem(10px);
      margin-right: rem(20px);
    }
  }
}

.profile {
  &__picture {
    height: rem(100px);
    width: rem(100px);
    display: block;
    border-radius: 100%;
    &--placeholder {
      height: rem(100px);
      width: rem(100px);
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      border-radius: 100%;
      background: #dcdcdc;
      color: #a2a1a9;
      font-size: 3em;
      font-weight: 100;
      text-transform: uppercase;
    }
  }
}
