.wishlist {
  > ul {
    padding-left: 0;
    list-style: none;
  }
  .wish {
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    &:not(:last-child) {
      border-bottom: none;
    }
    background: #fff;
    &__info {
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__directors {
      font-size: 13px;
      color: #888;
      margin-bottom: 0;
    }
    & > img {
      height: 70px;
      width: 47px;
      margin-right: rem(15px);
    }
    &__remove-button {
      margin-left: rem(10px);
      margin-right: rem(20px);
    }
  }
}

.movie-list {
  > ul {
    padding-left: 0;
    list-style: none;
  }
  .movie {
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    &:not(:last-child) {
      border-bottom: none;
    }
    background: #fff;
    &__title {
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & > img {
      height: 70px;
      width: 47px;
      margin-right: rem(15px);
    }
    &__add-button {
      margin-left: rem(10px);
      margin-right: rem(20px);
    }
  }
}

.matched-movies-list {
  > ul {
    padding-left: 0;
    list-style: none;
  }
  .movie {
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    &:not(:last-child) {
      border-bottom: none;
    }
    background: #fff;
    &__info {
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: rem(18px);
      line-height: 1.2;
      &--secondary {
        font-size: rem(13px);
        color: #4e4e4e;
      }
    }
    & > img {
      height: 70px;
      width: 47px;
      margin-right: rem(15px);
    }
    .movie-rating,
    .movie-matching-percentage {
      font-size: rem(16px);
      font-weight: 600;
    }
  }
}

.profile {
  &__picture {
    height: rem(100px);
    width: rem(100px);
    display: block;
    border-radius: 100%;
    background-size: cover !important;
    background-position: center center !important;
    &--placeholder {
      height: rem(100px);
      width: rem(100px);
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      border-radius: 100%;
      background: #dcdcdc;
      color: #a2a1a9;
      font-size: 3em;
      font-weight: 100;
      text-transform: uppercase;
    }
  }
}
